<div class="inner-padding">
    <div class="row mt-4">
        <EditForm Model="@ChangePasswordDto" OnValidSubmit="ChangePasswordAsync">
            <DataAnnotationsValidator/>
            <div class="d-flex flex-column gap-4">
                <div class="row gap-y-5 mb-2">
                    <div class="col-xl-12 col-md-12 col-12">
                        <MudTextField @bind-Value="ChangePasswordDto.CurrentPassword"
                                      For="@(() => ChangePasswordDto.CurrentPassword)"
                                      T="string"
                                      Label="Current Password"
                                      Immediate="true"
                                      Variant="Variant.Outlined"
                                      InputType="@PasswordInput"
                                      Adornment="Adornment.End"
                                      AdornmentIcon="@PasswordInputIcon"
                                      OnAdornmentClick="TogglePasswordVisibility"/>
                    </div>
                    <div class="col-xl-12 col-md-12 col-12">
                        <MudTextField Label="New Password"
                                      T="string"
                                      Immediate="true"
                                      Variant="Variant.Outlined"
                                      @bind-Value="ChangePasswordDto.NewPassword"
                                      For="@(() => ChangePasswordDto.NewPassword)"
                                      InputType="@PasswordInput"
                                      Adornment="Adornment.End"
                                      AdornmentIcon="@PasswordInputIcon"
                                      OnAdornmentClick="TogglePasswordVisibility"/>
                    </div>
                    <div class="col-xl-12 col-md-12 col-12">
                        <MudTextField Label="Confirm New Password"
                                      T="string"
                                      Immediate="true"
                                      Variant="Variant.Outlined"
                                      @bind-Value="ChangePasswordDto.ConfirmPassword"
                                      For="@(() => ChangePasswordDto.ConfirmPassword)"
                                      InputType="@PasswordInput"
                                      Adornment="Adornment.End"
                                      AdornmentIcon="@PasswordInputIcon"
                                      OnAdornmentClick="TogglePasswordVisibility"/>
                    </div>
                </div>
                <div class="text-end">
                    <MudButton DropShadow="false" 
                               Variant="Variant.Filled"
                               Class="btn btn--sm"
                               Color="Color.Primary"
                               ButtonType="ButtonType.Submit"
                               Disabled="@(IsBusySubmitting || !ValidatePassword())">
                        Change Password
                    </MudButton>
                </div>
            </div>
        </EditForm>
    </div>
</div>
