@page "/forgot-password"
@layout EmptyLayout
@attribute [AllowAnonymous]

<PageTitle>@Layout.PageTitle</PageTitle>

<div class="authentication-form">
    <div class="container-fluid">
        <div class="card col-xxl-8 col-lg-10 col-12 mx-auto">
            <div class="card__grid row align-items-center">
                <div class="card__grid-item col-xl-7 col-lg-7 col-12">
                    <div class="authentication-form__left">
                        <div class="mb-5 card__logo text-center">
                            <MudImage Src="images/logo/logo.svg" Height="125" Width="165" />
                        </div>
                        <div class="card__title mb-6">
                            <div class="mb-2">
                                <MudText Typo="Typo.h4" HtmlTag="h1" Class="fw-bold mb-2">Forgot Password?</MudText>
                            </div>
                            <div class="mb-2">
                                <MudText Typo="Typo.body1" Class="text-normal">We will send instructions to reset your password in your email address.</MudText>
                            </div>
                        </div>
                        <EditForm Model="@ForgotPasswordDto" OnValidSubmit="@HandleValidSubmit">
                            <DataAnnotationsValidator />
                            <MudGrid class="mt-n4" Spacing=8>
                                <MudItem class="pt-4" xs=12 md=12 xl=12>
                                    <MudTextField @bind-Value="ForgotPasswordDto.EmailAddress" Label="Email Address" For="@(() => ForgotPasswordDto.EmailAddress)" InputType="InputType.Email" Variant="Variant.Outlined" Immediate="true" Placeholder="Enter your email address" />
                                </MudItem>
                            </MudGrid>
                            <div class="mt-8 d-grid">
                                <MudButton DropShadow="false" Variant="Variant.Filled" Class="btn btn-orange pa-3" Color="Color.Primary" ButtonType="ButtonType.Submit" Disabled="@(BusySubmitting || string.IsNullOrEmpty(ForgotPasswordDto.EmailAddress))">
                                    <MudTooltip Text="Click here, to reset the password.">
                                        Reset My Password
                                    </MudTooltip>
                                </MudButton>
                            </div>
                        </EditForm>
                    </div>
                </div>
                <div class="card__grid-item col-xl-5 col-lg-5 col-12">
                    <div class="authentication-form__right d-none d-lg-block mb-5">
                        <MudImage Src="images/login/forgot-pwd.png" Alt="" Width="564" Height="337" Class="img-fluid w-100" />
                    </div>
                    <div class="referral-text">
                        <p class="d-flex align-items-center justify-content-center gap-1">
                            Already have an account?
                            <MudLink Href="login" Color='Color.Primary' class="fw-bold">Login</MudLink>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
