@page "/reset-password/{Token}/{UserId:guid}" 
@layout EmptyLayout
@attribute [AllowAnonymous]

<PageTitle>@Layout.PageTitle</PageTitle>

<div class="register vh-100 d-flex align-items-center justify-center">
    <div class="container">
        <div class="col-xl-11 mx-auto">
            <div class="card p-card">
                <div class="card-header bg-transparent border-0 pa-0 mb-5">
                    <div class="card-header__grid d-flex justify-space-between">
                        <div class="card-header__grid-item d-flex align-items-center">
                            <h1 class="fw-bold">Reset Password</h1>
                        </div>
                        <div class="card-header__grid-item">
                            <MudImage Src="images/logo/logo.svg" Alt="TMS Logo" Class="" Fluid="true" Width="120" Height="75" />
                        </div>
                    </div>
                </div>
                <div class="card-body pa-0">
                    <EditForm Model="@ResetPasswordDto" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator/>
                        <MudGrid class="mt-n4" Spacing=8>
                            <MudItem class="pt-4" xs=12 md=12 xl=12>
                                <MudTextField @bind-Value="ResetPasswordDto.NewPassword"
                                               For="@(() => ResetPasswordDto.NewPassword)"
                                               Label="New Password"
                                               Placeholder="Enter your new password"
                                               Variant="Variant.Outlined"
                                               InputType="@PasswordInput"
                                               Adornment="Adornment.End"
                                               AdornmentIcon="@PasswordInputIcon"
                                               OnAdornmentClick="TogglePasswordVisibility" />
                            </MudItem>
                        </MudGrid>

                        <div class="mt-8 d-grid">
                            <MudButton DropShadow="false" Variant="Variant.Filled" Class="btn btn-orange pa-3" Color="Color.Primary" ButtonType="ButtonType.Submit" Disabled="@BusySubmitting">
                                <MudTooltip Text="Click here, to reset the password.">
                                    Confirm Password
                                </MudTooltip>
                            </MudButton>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>